* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  color: black;
  background-color: rgb(250 250 250/1);
}

a {
  color: inherit;
  text-decoration: none;
}

td {
  border-top: 1px solid #e5e7eb;
}

.overflow-x-auto {
  overflow-x: scroll;
  color-scheme: white;
}

.buttons {
  display: flex;
  gap: 16px;
  margin: 16px 0 0 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.no-border {
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}

.image-brightness {
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }
}

.image-grayscale {
  cursor: pointer;
  &:hover {
    filter: grayscale(60%);
  }
}

/*OVERFLOW*/
.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

/*BACKGROUNDS*/
.transparent {
  background-color: transparent;
}

.bg-zinc {
  background-color: rgb(244, 244, 245);
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #e4e4e7;
}

.bg-light-gray {
  background-color: #f4f4f5;
}

.bg-light-red {
  background-color: #ffcdc9;
}

.bg-light-green {
  background-color: #90EE90	;
}


.bg-royalblue {
  background-color: rgb(79, 70, 229);
}

.bg-darkblue {
  background-color: rgb(49, 46, 129);
}

.bg-lila {
  background-color: #e0e7ff;
}

/*WIDTH && HEIGHT*/

.maxwidth-1366 {
  max-width: 1366px;
}

.maxwidth-1280 {
  max-width: 1280px;
}

.size-48 {
  width: 48px;
  height: 48px;
}

.height-100 {
  height: 100%;
}

.h-fit-content {
  height: fit-content;
}

.w-fit-content {
  width: fit-content;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-10 {
  width: 10%;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-beetwen {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

/*BACKGROUNDS*/

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.right-0 {
  right: 0%;
}

/*SHADOWS $ BORDERS*/
.box-shadow-v1 {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.box-shadow-v3 {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.box-shadow-v2 {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

.rounded-16 {
  border-radius: 16px;
}

.rounded-total {
  border-radius: 9999px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-4 {
  border-radius: 4px;
}

.border-v1 {
  border: 0.5px solid #e5e7eb;
}

.border-v2 {
  border: 1px solid #e5e7eb;
}

.border-v3 {
  border: 1px solid #e5e7eb;
}

.border-gray {
  border: 1px solid #3f3f46;
}

.border-rose {
  border: 1px solid #f43f5e;
}

.border-v4 {
  border: 2px solid rgba(49, 46, 129);
}
/* Scale images */
.object-cover {
  object-fit: cover;
}

.aspect-square {
  aspect-ratio: 1 / 1 !important;
}

/*LIST*/
.list-style-none {
  list-style: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 230px;
  top: 26px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-btn {
  padding: 0 0 8px 0;
}

.dropdown-item {
  color: rgb(113 113 122);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropdown-btn {
} */

.columns-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/*HEADING*/
.fs-48 {
  font-size: 48px;
}

.fs-36 {
  font-size: 36px;
}

.fs-30 {
  font-size: 30px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.lh-48 {
  line-height: 48px;
}

.lh-40 {
  line-height: 40px;
}

.lh-36 {
  line-height: 36px;
}

.lh-28 {
  line-height: 28px;
}

.lh-24 {
  line-height: 24px;
}

.lh-20 {
  line-height: 20px;
}

.lh-16 {
  line-height: 16px;
}

/*TEXT COLORS*/
.color-white-v2 {
  color: #f4f4f5;
}

.color-yellow {
  color: #facc15;
}

.color-royalblue {
  color: rgb(79, 70, 229);
}

.color-blueberry {
  color: rgb(99, 102, 241);
}

.color-darkblue {
  color: rgb(49, 46, 129);
}

.color-grisnoble {
  color: #52525b;
}

.color-lightgray {
  color: #a1a1aa;
}

.color-rose {
  color: #f43f5e;
}

.color-red {
  color: #e11d48;
}

.color-gray {
  color: #71717a;
}

.color-gray-v2 {
  color: #3f3f46;
}

.color-lightgray-v2 {
  color: #d4d4d8;
}

.color-almost-white {
  color: #fafafa;
}

.color-black {
  color: black;
}

.color-danger {
  color: #df1b1b;
}

/* PADDING & MARGIN & GAP */
.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-32 {
  padding: 32px;
}

.p-48 {
  padding: 48px;
}

.p-12-48 {
  padding: 12px 48px;
}

.p-30-20 {
  padding: 30px 20px;
}

.p-4-12 {
  padding: 4px 12px;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-64 {
  padding-bottom: 64px;
}

.m-auto {
  margin-right: auto;
  margin-left: auto;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-16 {
  margin-top: 16px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-90 {
  margin-top: 90px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-32 {
  margin-right: 32px;
}

.gap-80 {
  gap: 80px;
}

.gap-45 {
  gap: 45px;
}

.gap-32 {
  gap: 32px;
}

.gap-24 {
  gap: 24px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  transition: opacity 0.3s ease-out;
}

.modal-video-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.modal {
  width: 100%;
  padding: 10px 60px;
  box-sizing: border-box;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  transform: translate(0);
  transition: transform 0.3s ease-out;
}

.close-modal {
  position: relative;
  z-index: 2;
  top: -350px;
  right: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}

.button-red {
  background: #e11d48;
  color: #e5e7eb;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 8px 16px;
}

.box {
  width: 49%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #c7c7c7;
}

.box:hover {
  background-color: rgba(59, 130, 246, 0.1);
}

textarea {
  font-family: arial, verdana, ms sans serif;
}

/* .contact-form {
} */

.form-input {
  border: 1px solid #e4e4e7;
  appearance: none;
}

.form-input:focus {
  border: 1px solid #2563eb !important;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  .box {
    width: 99%;
  }
  .column-md {
    display: flex;
    flex-direction: column;
  }
  .text-center-md {
    text-align: center;
  }
  .w-100-md {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .column-tablet {
    display: flex;
    flex-direction: column;
  }
  .w-100-tablet {
    width: 100%;
  }

  .grid-col-tablet-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .text-center-tablet {
    text-align: center;
  }

  .fs-tablet-30 {
    font-size: 30px;
  }

  .fs-tablet-16 {
    font-size: 16px;
  }

  .lh-tablet-36 {
    line-height: 36px;
  }
}

@media (max-width: 450px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-center-sm {
    text-align: center;
  }

  .close-modal {
    position: absolute;
    top: 300px;
    right: 10px;
    width: 25px;
    height: 25px;
  }
  .modal {
    padding: 10px 0px;
  }

  .column-sm {
    display: flex;
    flex-direction: column;
  }

  .grid-col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .p-sm-20 {
    padding: 20px;
  }

  .w-sm-100 {
    width: 100%;
  }

  .m-auto {
    margin: none;
  }

  .justify-center-sm {
    justify-content: center;
  }

  .justify-beetwen-sm {
    justify-content: space-between;
  }

  .justify-end-sm {
    justify-content: end;
  }

  .justify-start-sm {
    justify-content: start;
  }

  .justify-around-sm {
    justify-content: space-around;
  }

  .align-start-sm {
    align-items: flex-start;
  }

  .gap-16-sm {
    gap: 16px;
  }

  .fs-sm-48 {
    font-size: 48px;
  }

  .fs-sm-36 {
    font-size: 36px;
  }

  .fs-sm-30 {
    font-size: 30px;
  }

  .fs-sm-24 {
    font-size: 24px;
  }

  .fs-sm-20 {
    font-size: 20px;
  }

  .fs-sm-12 {
    font-size: 12px;
  }

  .fs-sm-18 {
    font-size: 18px;
  }

  .fs-sm-16 {
    font-size: 16px;
  }

  .fs-sm-14 {
    font-size: 14px;
  }

  .fw-sm-300 {
    font-weight: 300;
  }

  .fw-sm-400 {
    font-weight: 400;
  }

  .fw-sm-500 {
    font-weight: 500;
  }

  .fw-sm-600 {
    font-weight: 600;
  }

  .fw-sm-700 {
    font-weight: 700;
  }

  .fw-sm-800 {
    font-weight: 800;
  }

  .lh-48 {
    line-height: 48px;
  }

  .lh-40 {
    line-height: 40px;
  }

  .lh-28 {
    line-height: 28px;
  }

  .lh-24 {
    line-height: 24px;
  }

  .lh-20 {
    line-height: 20px;
  }

  .lh-16 {
    line-height: 16px;
  }
}
